<div class="row">
    <div class="col-md-5">
        <h5>CUSTOMERS:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary" href="#"> create custmer</a>
            <table class="table table-5m">
                <tr>


                    <th> total_order</th>
                   <th>delivery</th>
                    <th>pending</th>
                    <th>out of order</th>



                </tr>

                 <tr>
                     <td>{{total_order}} </td>
                     <td>{{delivered}} </td>
                     <td>{{pending}} </td>
                     <td>{{outdeliver}} </td>

                 </tr>

            </table>
        </div>
    </div>